.cart {
    position: relative;
    bottom: 5px;
    left: 6px;
    height: 25px;
}

.cart .counter {
    position: relative;
    bottom: 17px;
    left: 10px;
    width: 22px;
    height: 22px;
    padding: 0px;
}

.cart .counter p {
    font-size: 11px;
    position: relative;
    top: 2px;
    text-align: center;
    font-weight: bold;
    color: #212529;
}

.navbar .btn {
    font-size: 20px;
}

.navbar .btn-outline-danger {
    border-width: 2px;
}
