.authorization-form {
    width: 90%;
    max-width: 800px;
}

.authorization-form label {
    display: block;
}

.authorization-form #alternative-btn {
    pointer-events: auto !important;
}

.authorization-form #alternative-btn:hover{
    text-decoration: underline !important;
    filter: brightness(70%) !important;
    cursor: pointer !important;
}

.authorization-form #alternative-btn:active{
    filter: brightness(20%) !important;
}