.carousel-control-prev,
.carousel-control-next {
  text-decoration: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.carousel-control-prev:hover,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-next:focus {
  text-decoration: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.carousel-item {
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.carousel img {
  min-width: 100%;
  width: auto;
  height: 700px;
  display: block;
  margin: auto;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  padding-bottom: 2.25rem;
}


@media (max-width: 600px) {
  .carousel img {
    max-height: 400px;
  }

  .carousel p {
    display: none;
  }
}

.carousel-control-prev {
  background-color: #f7f8f9;
  opacity: 1;
}

.carousel-control-next {
  background-color: #f7f8f9;
  opacity: 1;
}

.carousel-control-prev:active {
  opacity: 1;
}

.carousel-control-prev:hover {
  opacity: 1;
}

.carousel-control-next:active {
  opacity: 1;
}

.carousel-control-next:hover {
  opacity: 1;
}

.carousel p {
  width: 80%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* затемнення */
  pointer-events: none;
}
